Node Red JSON File.json
[{"id":"572627f3.1aa62","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e06847a2.481c98","type":"template","z":"572627f3.1aa62","name":"Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <!-- Theme Made By www.w3schools.com -->\n  <title>IBM Project</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n  <link href=\"https://fonts.googleapis.com/css?family=Montserrat\" rel=\"stylesheet\" type=\"text/css\">\n  <link href=\"https://fonts.googleapis.com/css?family=Lato\" rel=\"stylesheet\" type=\"text/css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n  <style>\n  body {\n    font: 400 15px Lato, sans-serif;\n    line-height: 1.8;\n    color: #818181;\n  }\n  h2 {\n    font-size: 24px;\n    text-transform: uppercase;\n    color: #303030;\n    font-weight: 600;\n    margin-bottom: 30px;\n  }\n  h4 {\n    font-size: 19px;\n    line-height: 1.375em;\n    color: #303030;\n    font-weight: 400;\n    margin-bottom: 30px;\n  }  \n  .jumbotron {\n    background-color: #000066;\n    color: #fff;\n    padding: 100px 25px;\n    font-family: Montserrat, sans-serif;\n    height: 420px;\n  }\n  .container-fluid {\n    padding: 60px 50px;\n  }\n  .bg-grey {\n    background-color: #f6f6f6;\n  }\n  .logo-small {\n    color: #f4511e;\n    font-size: 50px;\n  }\n  .logo {\n    color: #f4511e;\n    font-size: 200px;\n  }\n  .thumbnail {\n    padding: 0 0 15px 0;\n    border: none;\n    border-radius: 0;\n  }\n  .thumbnail img {\n    width: 100%;\n    height: 100%;\n    margin-bottom: 10px;\n  }\n  .carousel-control.right, .carousel-control.left {\n    background-image: none;\n    color: #f4511e;\n  }\n  .carousel-indicators li {\n    border-color: #f4511e;\n  }\n  .carousel-indicators li.active {\n    background-color: #f4511e;\n  }\n  .item h4 {\n    font-size: 19px;\n    line-height: 1.375em;\n    font-weight: 400;\n    font-style: italic;\n    margin: 70px 0;\n  }\n  .item span {\n    font-style: normal;\n  }\n  .panel {\n    border: 1px solid #f4511e; \n    border-radius:0 !important;\n    transition: box-shadow 0.5s;\n  }\n  .panel:hover {\n    box-shadow: 5px 0px 40px rgba(0,0,0, .2);\n  }\n  .panel-footer .btn:hover {\n    border: 1px solid #f4511e;\n    background-color: #fff !important;\n    color: #f4511e;\n  }\n  .panel-heading {\n    color: #fff !important;\n    background-color: #f4511e !important;\n    padding: 25px;\n    border-bottom: 1px solid transparent;\n    border-top-left-radius: 0px;\n    border-top-right-radius: 0px;\n    border-bottom-left-radius: 0px;\n    border-bottom-right-radius: 0px;\n  }\n  .panel-footer {\n    background-color: white !important;\n  }\n  .panel-footer h3 {\n    font-size: 32px;\n  }\n  .panel-footer h4 {\n    color: #aaa;\n    font-size: 14px;\n  }\n  .panel-footer .btn {\n    margin: 15px 0;\n    background-color: #f4511e;\n    color: #fff;\n  }\n  .navbar {\n    margin-bottom: 0;\n    background-color:#000033;\n    z-index: 9999;\n    border: 0;\n    font-size: 12px !important;\n    line-height: 1.42857143 !important;\n    letter-spacing: 4px;\n    border-radius: 0;\n    font-family: Montserrat, sans-serif;\n  }\n  .navbar li a, .navbar .navbar-brand {\n    color: #fff !important;\n  }\n  .navbar-nav li a:hover, .navbar-nav li.active a {\n    color: #f4511e !important;\n    background-color: #fff !important;\n  }\n  .navbar-default .navbar-toggle {\n    border-color: transparent;\n    color: #fff !important;\n  }\n  footer .glyphicon {\n    font-size: 20px;\n    margin-bottom: 20px;\n    color: #f4511e;\n  }\n  .slideanim {visibility:hidden;}\n  .slide {\n    animation-name: slide;\n    -webkit-animation-name: slide;\n    animation-duration: 1s;\n    -webkit-animation-duration: 1s;\n    visibility: visible;\n  }\n  @keyframes slide {\n    0% {\n      opacity: 0;\n      transform: translateY(70%);\n    } \n    100% {\n      opacity: 1;\n      transform: translateY(0%);\n    }\n  }\n  @-webkit-keyframes slide {\n    0% {\n      opacity: 0;\n      -webkit-transform: translateY(70%);\n    } \n    100% {\n      opacity: 1;\n      -webkit-transform: translateY(0%);\n    }\n  }\n  @media screen and (max-width: 768px) {\n    .col-sm-4 {\n      text-align: center;\n      margin: 25px 0;\n    }\n    .btn-lg {\n      width: 100%;\n      margin-bottom: 35px;\n    }\n  }\n  @media screen and (max-width: 480px) {\n    .logo {\n      font-size: 150px;\n    }\n  }\n  </style>\n</head>\n<body id=\"myPage\" data-spy=\"scroll\" data-target=\".navbar\" data-offset=\"60\">\n\n<nav class=\"navbar navbar-default navbar-fixed-top\">\n  <div class=\"container\">\n    <div class=\"navbar-header\">\n      <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#myNavbar\">\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>\n        <span class=\"icon-bar\"></span>                        \n      </button>\n      <a class=\"navbar-brand\" href=\"#myPage\">FDF</a>\n    </div>\n    <div class=\"collapse navbar-collapse\" id=\"myNavbar\">\n      <ul class=\"nav navbar-nav navbar-right\">\n        <li><a href=\"https://node-red-rahul.mybluemix.net/about\">ABOUT</a></li>\n        <li><a href=\"https://node-red-rahul.mybluemix.net/ui\">SERVICES</a></li>\n      </ul>\n    </div>\n  </div>\n</nav>\n\n<div class=\"jumbotron text-center\">\n  <h1>Food Demand Forecasting</h1> \n  <p>Increase your Profits</p> \n</div>\n\n<!-- Container (About Section) -->\n<div id=\"about\" class=\"container-fluid\">\n   <div class=\"row featurette\">\n      <div class=\"col-md-7\">\n        <h2 class=\"featurette-heading\">Weekly Prediction <span class=\"text-muted\">(Custom Prediction)</span></h2>\n        <p class=\"lead\">Our Light Trees Regressor takes necessary parameters and provides accurate prediction for 1 week. This model is made using IBM Auto AI Experiment.</p>\n      </div>\n      <div class=\"col-md-5\">\n        <img src=\"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-1497-Optimized-Warehouse-Management-of-Perishable-Goods-for-a-Food-Delivery-Company/master/website/main.jpg\" class=\"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto\" width=\"500\" height=\"500\">        \n      </div>\n    </div>\n\n</div>\n\n<div class=\"container-fluid bg-grey\">\n <div class=\"row featurette\">\n      <div class=\"col-md-7\">\n        <h2 class=\"featurette-heading\">10 Week Prediction <span class=\"text-muted\">(Graphic Representation)</span></h2>\n        <p class=\"lead\">Our fbprophet model gives the next 10 weeks prediction for Food Demand. You just need to give Center ID and Meal ID.</p>\n      </div>\n      <div class=\"col-md-5\">\n          <img src=\"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-1497-Optimized-Warehouse-Management-of-Perishable-Goods-for-a-Food-Delivery-Company/master/website/graph.jpg\" class=\"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto\" width=\"500\" height=\"500\">\n      </div>\n    </div>\n</div>\n\n\n\n<script>\n$(document).ready(function(){\n  // Add smooth scrolling to all links in navbar + footer link\n  $(\".navbar a, footer a[href='#myPage']\").on('click', function(event) {\n    // Make sure this.hash has a value before overriding default behavior\n    if (this.hash !== \"\") {\n      // Prevent default anchor click behavior\n      event.preventDefault();\n\n      // Store hash\n      var hash = this.hash;\n\n      // Using jQuery's animate() method to add smooth page scroll\n      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area\n      $('html, body').animate({\n        scrollTop: $(hash).offset().top\n      }, 900, function(){\n   \n        // Add hash (#) to URL when done scrolling (default click behavior)\n        window.location.hash = hash;\n      });\n    } // End if\n  });\n  \n  $(window).scroll(function() {\n    $(\".slideanim\").each(function(){\n      var pos = $(this).offset().top;\n\n      var winTop = $(window).scrollTop();\n        if (pos < winTop + 600) {\n          $(this).addClass(\"slide\");\n        }\n    });\n  });\n})\n</script>\n\n</body>\n</html>","output":"str","x":490,"y":20,"wires":[["f6f1e022.031b7"]]},{"id":"ea5887e6.6a7d28","type":"http in","z":"572627f3.1aa62","name":"","url":"home","method":"get","upload":false,"swaggerDoc":"","x":340,"y":20,"wires":[["e06847a2.481c98"]]},{"id":"f6f1e022.031b7","type":"http response","z":"572627f3.1aa62","name":"","statusCode":"","headers":{},"x":630,"y":20,"wires":[]},{"id":"fb35fc53.700cc","type":"http in","z":"572627f3.1aa62","name":"","url":"about","method":"get","upload":false,"swaggerDoc":"","x":340,"y":80,"wires":[["f25bd629.c107b8"]]},{"id":"f25bd629.c107b8","type":"template","z":"572627f3.1aa62","name":"About","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n  <link href=\"https://fonts.googleapis.com/css?family=Montserrat\" rel=\"stylesheet\" type=\"text/css\">\n  <link href=\"https://fonts.googleapis.com/css?family=Lato\" rel=\"stylesheet\" type=\"text/css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js\"></script>\n  <style>\n    #header{\n  \n      background-color: #000066;\n\n    }\n    #abc{\n      padding-left: 50%;\n    }\n    h1{\n      color: white;\n    }\n          }\n          \n    .logo-small {\n    color: #f4511e;\n    font-size: 50px;\n  }\n  .logo {\n    color: #f4511e;\n    font-size: 200px;\n  }\n  .thumbnail {\n    padding: 0 0 15px 0;\n    border: none;\n    border-radius: 0;\n  }\n  .thumbnail img {\n    width: 100%;\n    height: 100%;\n    margin-bottom: 10px;\n  }\n  .carousel-control.right, .carousel-control.left {\n    background-image: none;\n    color: #f4511e;\n  }\n  .carousel-indicators li {\n    border-color: #f4511e;\n  }\n  .carousel-indicators li.active {\n    background-color: #f4511e;\n  }\n  .item h4 {\n    font-size: 19px;\n    line-height: 1.375em;\n    font-weight: 400;\n    font-style: italic;\n    margin: 70px 0;\n  }\n  .item span {\n    font-style: normal;\n  }\n  .panel {\n    border: 1px solid #f4511e; \n    border-radius:0 !important;\n    transition: box-shadow 0.5s;\n  }\n  .panel:hover {\n    box-shadow: 5px 0px 40px rgba(0,0,0, .2);\n  }\n  .panel-footer .btn:hover {\n    border: 1px solid #f4511e;\n    background-color: #fff !important;\n    color: #f4511e;\n  }\n  .panel-heading {\n    color: #fff !important;\n    background-color: #f4511e !important;\n    padding: 25px;\n    border-bottom: 1px solid transparent;\n    border-top-left-radius: 0px;\n    border-top-right-radius: 0px;\n    border-bottom-left-radius: 0px;\n    border-bottom-right-radius: 0px;\n  }\n  .panel-footer {\n    background-color: white !important;\n  }\n  .panel-footer h3 {\n    font-size: 32px;\n  }\n  .panel-footer h4 {\n    color: #aaa;\n    font-size: 14px;\n  }\n  .panel-footer .btn {\n    margin: 15px 0;\n    background-color: #f4511e;\n    color: #fff;\n  }\n  .navbar {\n    margin-bottom: 0;\n    background-color:#000033;\n    z-index: 9999;\n    border: 0;\n    font-size: 12px !important;\n    line-height: 1.42857143 !important;\n    letter-spacing: 4px;\n    border-radius: 0;\n    font-family: Montserrat, sans-serif;\n  }\n  .navbar li a, .navbar .navbar-brand {\n    color: #fff !important;\n  }\n  .navbar-nav li a:hover, .navbar-nav li.active a {\n    color: #f4511e !important;\n    background-color: #fff !important;\n  }\n  .navbar-default .navbar-toggle {\n    border-color: transparent;\n    color: #fff !important;\n  }\n\n  </style>\n  <title>About Us</title>\n</head>\n<body>\n<nav class=\"navbar navbar-default navbar-fixed-top\">\n  <div class=\"container\">\n    <div class=\"navbar-header\">\n      <a class=\"navbar-brand\" href=\"https://node-red-rahul.mybluemix.net/home\">FDF</a>\n    </div>\n  </div>\n</nav>\n\n  <section id =\"header\" class =\"jumbotron text-center\">\n    <h1>About Us</h1>\n    <h2 style=\"color: white\">Raise your points</h2>\n    <p class=\"lead\" style=\"color: white\">A food delivery service has to deal with a lot of perishable raw materials which makes it all, the most important factor for such a company is to accurately forecast daily and weekly demand. Too much inventory in the warehouse means more risk of wastage, and not enough could lead to out-of-stocks - and push customers to seek solutions from your competitors. The replenishment of majority of raw materials is done on weekly basis and since the raw material is perishable, the procurement planning is of utmost importance</p>\n  <!--   <a href=\"\"class=\"btn btn-primary\">About</a>\n   --></section>\n\n  <h2 id=\"abc\">Our Team</h2>\n    \n  <section id=\"gallery\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"col-md-3 mb-3\">\n           <div class=\"card\">\n            <img class=\"card-img-top\" src=\"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-1497-Optimized-Warehouse-Management-of-Perishable-Goods-for-a-Food-Delivery-Company/master/website/About%20Us/kanwal.jpg\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Rahul Kanwal</h5>\n            </div>\n          </div>\n        </div>\n\n        <div class=\"col-md-3 mb-3\">\n          <div class=\"card\">\n            <img class=\"card-img-top\" src=\"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-1497-Optimized-Warehouse-Management-of-Perishable-Goods-for-a-Food-Delivery-Company/master/website/About%20Us/mahale.jpg\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Sanket Mahale</h5>\n            </div>\n          </div>\n        </div> \n\n        <div class=\"col-md-3 mb-3\">\n          <div class=\"card\">\n            <img class=\"card-img-top\" src=\"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-1497-Optimized-Warehouse-Management-of-Perishable-Goods-for-a-Food-Delivery-Company/master/website/About%20Us/yash.jpg\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Yash Gurnani</h5>\n            </div>\n          </div>\n        </div> \n\n\n        <div class=\"col-md-3 md-3\">\n          <div class=\"card\">\n            <img class=\"card-img-top\" src=\"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-1497-Optimized-Warehouse-Management-of-Perishable-Goods-for-a-Food-Delivery-Company/master/website/About%20Us/heman.jpg\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Himanshu Pingulkar</h5>\n            </div>\n          </div>\n        </div>       \n      </div>\n    </div>\n    \n  </section>  \n\n\n\n\n\n<script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\" integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\" crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\" integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\" crossorigin=\"anonymous\"></script>\n</body>\n</html>","output":"str","x":490,"y":80,"wires":[["c08864d9.b0c35"]]},{"id":"c08864d9.b0c35","type":"http response","z":"572627f3.1aa62","name":"","statusCode":"","headers":{},"x":630,"y":80,"wires":[]},{"id":"af9cf629.364e9","type":"function","z":"572627f3.1aa62","name":"Pre Prediction","func":"var week = global.get('week')\nvar mid = global.get('mid')\nvar cp = global.get('cp')\nvar bp = global.get('bp')\nvar hf = global.get('hf')\nvar op = global.get('op')\nvar cat = global.get('cat')\nvar cui = global.get('cui')\nvar token=msg.payload.access_token\nvar instance_id=\"55e7b9ca-ec0d-44ae-9b21-e7ab2d4cfb04\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\":[{\"fields\":[\"week\", \"meal_id\", \"checkout_price\", \"base_price\", \"homepage_featured\", \"op_area\", \"category\", \"cuisine\"],\"values\":[[week, mid, cp, bp, hf, op, cat, cui]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["4e541ea5.5c5848"]]},{"id":"64f7cdee.46a2ac","type":"function","z":"572627f3.1aa62","name":"PreToken","func":"global.set(\"week\",msg.payload.week)\nglobal.set(\"mid\",msg.payload.mid)\nglobal.set(\"cp\",msg.payload.cp)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"hf\",msg.payload.hf)\nglobal.set(\"op\",msg.payload.op)\nglobal.set(\"cat\",msg.payload.cat)\nglobal.set(\"cui\",msg.payload.cui)\nvar apikey=\"TymZTDPCnqO-bQA5_pewOcyu-AYYaASVrlLOvW7qtGuj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["d8ef722f.a9d2b"]]},{"id":"d8ef722f.a9d2b","type":"http request","z":"572627f3.1aa62","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":160,"wires":[["af9cf629.364e9"]]},{"id":"70de5005.e3bbe8","type":"inject","z":"572627f3.1aa62","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":160,"wires":[["64f7cdee.46a2ac"]]},{"id":"c12686d9.c1d27","type":"debug","z":"572627f3.1aa62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":160,"wires":[]},{"id":"4e541ea5.5c5848","type":"http request","z":"572627f3.1aa62","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/09a8cf51-62dd-4115-a70b-2e6c9fa379ac/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":220,"wires":[["937ba7a2.d12e38"]]},{"id":"e85c0627.9c3d4","type":"ui_form","z":"572627f3.1aa62","name":"","label":"","group":"c7a74ff7.35383","order":1,"width":0,"height":0,"options":[{"label":"Week","value":"week","type":"number","required":true,"rows":null},{"label":"Meal ID","value":"mid","type":"number","required":true,"rows":null},{"label":"Checkout Price","value":"cp","type":"number","required":true,"rows":null},{"label":"Base Price","value":"bp","type":"number","required":true,"rows":null},{"label":"Homepage Featured","value":"hf","type":"number","required":true,"rows":null},{"label":"OP Area","value":"op","type":"number","required":true,"rows":null},{"label":"Category","value":"cat","type":"text","required":true,"rows":null},{"label":"Cuisine","value":"cui","type":"text","required":true,"rows":null}],"formValue":{"week":"","mid":"","cp":"","bp":"","hf":"","op":"","cat":"","cui":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":290,"y":220,"wires":[["64f7cdee.46a2ac"]]},{"id":"2a9f4779.fb9498","type":"ui_text","z":"572627f3.1aa62","group":"c7a74ff7.35383","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":220,"wires":[]},{"id":"937ba7a2.d12e38","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["c12686d9.c1d27","2a9f4779.fb9498"]]},{"id":"9433e3ef.696e88","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":600,"wires":[["51f0980e.88798"]]},{"id":"51f0980e.88798","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":510,"y":600,"wires":[["f128975a.c01e1"]]},{"id":"c47d439d.d35558","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":370,"y":660,"wires":[["5da5cf9d.f205c8"]]},{"id":"5da5cf9d.f205c8","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":530,"y":660,"wires":[["76fd8a3e.2b7294"]]},{"id":"cb1cc6d8.ff41e8","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":370,"y":740,"wires":[["b9533913.c0595"]]},{"id":"b9533913.c0595","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":530,"y":740,"wires":[["ec72d517.dc6328"]]},{"id":"262fbe0.eeff8c2","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":800,"wires":[["bb96fc69.3eaf5"]]},{"id":"bb96fc69.3eaf5","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":510,"y":800,"wires":[["951d2a0d.dd95f"]]},{"id":"e953e790.933e2","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":370,"y":860,"wires":[["40823dac.182084"]]},{"id":"40823dac.182084","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":530,"y":860,"wires":[["33daf356.e04524"]]},{"id":"dfc6ea2.be48798","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":520,"wires":[["b865bfe0.c1bb7"]]},{"id":"b865bfe0.c1bb7","type":"csv","z":"572627f3.1aa62","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":490,"y":520,"wires":[["b964ab82.416ab"]]},{"id":"b964ab82.416ab","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload = msg.payload.filter(el => el.col1 == global.get(\"cmid\"))\nif(msg.payload.length != 0) {\n    global.set(\"demand\", msg.payload)\n}\n\nif(msg.payload == []) {\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":520,"wires":[["f2d04c53.70a9a8"]]},{"id":"f128975a.c01e1","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload = msg.payload.filter(el => el.col1 == global.get(\"cmid\"))\nif(msg.payload.length != 0) {\n    global.set(\"demand\", msg.payload)\n}\n\nif(msg.payload == []) {\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":600,"wires":[["d07dda1f.3fb7"]]},{"id":"76fd8a3e.2b7294","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload = msg.payload.filter(el => el.col1 == global.get(\"cmid\"))\nif(msg.payload.length != 0) {\n    global.set(\"demand\", msg.payload)\n}\nif(msg.payload == []) {\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":660,"wires":[["b48d4d46.141c9"]]},{"id":"ec72d517.dc6328","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload = msg.payload.filter(el => el.col1 == global.get(\"cmid\"))\nif(msg.payload.length != 0) {\n    global.set(\"demand\", msg.payload)\n}\nif(msg.payload == []) {\n   return null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":740,"wires":[["d582cfca.9ea388"]]},{"id":"951d2a0d.dd95f","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload = msg.payload.filter(el => el.col1 == global.get(\"cmid\"))\nif(msg.payload.length != 0) {\n    global.set(\"demand\", msg.payload)\n}\nif(msg.payload == []) {\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":800,"wires":[["64ff2b57.f5f3f4"]]},{"id":"33daf356.e04524","type":"function","z":"572627f3.1aa62","name":"","func":"msg.payload = msg.payload.filter(el => el.col1 == global.get(\"cmid\"))\nif(msg.payload.length != 0) {\n    global.set(\"demand\", msg.payload)\n}\nif(msg.payload == []) {\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":860,"wires":[["b8bf2031.f4e628"]]},{"id":"a3052aa1.62e5a8","type":"debug","z":"572627f3.1aa62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":380,"wires":[]},{"id":"b8bf2031.f4e628","type":"function","z":"572627f3.1aa62","name":"","func":"var demand = global.get(\"demand\")\nmsg.payload = demand\n\nvar series = [global.get(\"cmid\")]\nvar data = msg.payload.map(function (d) {\n return {\n x: d.col2,\n y: d.col3\n }\n});\n\n// var weeks = []\n// var i = 1\n// for(i = 1; i <= msg.apyload.length; i++) {\n//     weeks[i] = i\n// }\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":440,"wires":[["a3052aa1.62e5a8","ae87691d.31e1b8"]]},{"id":"ba56aa96.f0af98","type":"inject","z":"572627f3.1aa62","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"157-1962","x":120,"y":380,"wires":[["759a48ce.7b0aa"]]},{"id":"5bc3c005.452568","type":"ui_form","z":"572627f3.1aa62","name":"","label":"","group":"feeda6d8.cab878","order":8,"width":0,"height":0,"options":[{"label":"Center Meal ID","value":"centerid","type":"text","required":true,"rows":null},{"label":"Meal ID","value":"mealid","type":"text","required":true,"rows":null}],"formValue":{"centerid":"","mealid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":440,"wires":[["759a48ce.7b0aa","b90d6a7.809b798"]]},{"id":"b90d6a7.809b798","type":"function","z":"572627f3.1aa62","name":"","func":"var str = msg.payload.centerid + '-' + msg.payload.mealid\nglobal.set(\"cmid\", str)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":460,"wires":[[]]},{"id":"ae87691d.31e1b8","type":"ui_chart","z":"572627f3.1aa62","name":"","group":"8fcc7440.3db048","order":3,"width":"18","height":"10","label":"chart","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Your Result is coming. Please Wait.","dot":false,"ymin":"","ymax":"","removeOlder":"0","removeOlderPoints":"140","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":580,"wires":[[]]},{"id":"f2d04c53.70a9a8","type":"GSheet","z":"572627f3.1aa62","creds":"419177be.fb0438","method":"get","action":"","sheet":"1ANJwWANRkdoHknJROAyEisvCFcirymh2YhymXD8UuXM","cells":"total_predictions_final!A91632:C183261","name":"demand 2","x":200,"y":600,"wires":[["9433e3ef.696e88"]]},{"id":"d07dda1f.3fb7","type":"GSheet","z":"572627f3.1aa62","creds":"90e5d6db.6f6968","method":"get","action":"","sheet":"1ANJwWANRkdoHknJROAyEisvCFcirymh2YhymXD8UuXM","cells":"total_predictions_final!A183262:C274891","name":"demand 3","x":200,"y":660,"wires":[["c47d439d.d35558"]]},{"id":"b48d4d46.141c9","type":"GSheet","z":"572627f3.1aa62","creds":"90e5d6db.6f6968","method":"get","action":"","sheet":"1ANJwWANRkdoHknJROAyEisvCFcirymh2YhymXD8UuXM","cells":"total_predictions_final!A274892:C366521","name":"demand 4","x":200,"y":740,"wires":[["cb1cc6d8.ff41e8"]]},{"id":"d582cfca.9ea388","type":"GSheet","z":"572627f3.1aa62","creds":"90e5d6db.6f6968","method":"get","action":"","sheet":"1ANJwWANRkdoHknJROAyEisvCFcirymh2YhymXD8UuXM","cells":"total_predictions_final!A366522:C458151","name":"demand 5","x":200,"y":800,"wires":[["262fbe0.eeff8c2"]]},{"id":"64ff2b57.f5f3f4","type":"GSheet","z":"572627f3.1aa62","creds":"90e5d6db.6f6968","method":"get","action":"","sheet":"1ANJwWANRkdoHknJROAyEisvCFcirymh2YhymXD8UuXM","cells":"total_predictions_final!A458152:C549781","name":"demand 6","x":200,"y":860,"wires":[["e953e790.933e2"]]},{"id":"759a48ce.7b0aa","type":"GSheet","z":"572627f3.1aa62","creds":"90e5d6db.6f6968","method":"get","action":"","sheet":"1ANJwWANRkdoHknJROAyEisvCFcirymh2YhymXD8UuXM","cells":"total_predictions_final!A2:C91631","name":"demand","x":220,"y":520,"wires":[["dfc6ea2.be48798"]]},{"id":"c7a74ff7.35383","type":"ui_group","z":"","name":"Food Demand","tab":"159513e2.6b46b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"feeda6d8.cab878","type":"ui_group","z":"","name":"Form","tab":"42943b8b.eb987c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8fcc7440.3db048","type":"ui_group","z":"","name":"Demand Answer","tab":"42943b8b.eb987c","order":2,"disp":true,"width":"18","collapse":false},{"id":"419177be.fb0438","type":"gauth","z":0},{"id":"90e5d6db.6f6968","type":"gauth","z":0},{"id":"159513e2.6b46b4","type":"ui_tab","z":"","name":"Model Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"42943b8b.eb987c","type":"ui_tab","z":"","name":"Demand Form","icon":"dashboard","disabled":false,"hidden":false}]